<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Members</h1>
        <p class = "center-text">Welcome to the Members page!</p>
        
        
        <div class = "center-text">
            <a href="/rafael">Rafael L. Pillejera</a>
        </div>
        
        <div class = "nav-links">
            <a href="/">Home</a>
        </div>
        
    </div>
</body>
</html>



